#card1{
    width: 50rem;
    margin: auto;
}
#card2{
    min-height:600px;
    height: auto;
    width: 50rem;
    margin: auto;
    margin-top: 50px
}
#changeal{
    float: right;
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;
}
#additem{
    width: 35px;
    margin-right: 5px;
}
#addfoodbtn{
    float:right;
}
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}
#del{
    display: inline-block;
    float: right;
}
#calorie {
    display: inline-block;
    padding-right: 10px;
}
#delbtn {
    display: inline-block;
    margin-bottom: 4px;
}