body{
     background: url(../img/food.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    padding-top: 100px;
}
.btn.btn-primary{
    padding: 10px 20px 10px 20px ;
}
.row{
    justify-content: center;
}

@media screen and (max-width:1199px){
    #hometext{
        width:100%;
    }
    .device-container{
        width:100%;
    }
}