#editprofile{
    margin-top: -60px;
}

#editprofileform{
    justify-content: center;
}


#Area1{
    width: 50%;
}



#profpic{
    border:4px solid grey ;
    justify-content: center;
    text-align: center;

}