{% extends "layouts.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/expenditure.css">
<script type="text/javascript" src="../static/js/allowance.js"></script>
<title>Allowance</title>
{% endblock %}
{% block body %}
<h1>
    <span class="badge badge-secondary">Allowance</span>
</h1>
<form id="allowanceform" action="" method="post">
<div class="card" id="card1">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Set this week's allowance</span></h5>
        <input type="text" id="allowance" name="allowance" class="form-control" onfocus="this.value=''" onblur="emptyfield()" placeholder="{{ "%.2f" %weekly }}" value="{{ "%.2f" %weekly  }}">
        <input form="allowanceform" name="register-submit" type="submit" class="btn btn-success" style="float: right;margin-right: 40px;padding:5px;">
        <a class="btn btn-danger" href="/expenditure" style="float: right;margin-right: 20px;padding: 5px;">Cancel</a>
    </div>
</div>
</form>
{% endblock %}