{% extends "layouts.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/expenditure.css">
<title>Expenditure</title>
{% endblock %}
{% block body %}
<h1>
    <span class="badge badge-secondary">Expenditures</span>
</h1>

<div class="card" id="card1">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Allowance for this week</span><a href="/allowance"><img id="changeal" src="../static/img/....png"></a></h5>
        <div class="card-text" style="font-size: 18px;">${{"%.2f" % totalexpenditure }} </div>
    </div>
</div>

<div class="card" id="card2">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Food Item</span></h5>
        <div class="card-text">
        <!-- Display food database-->
        <form method="post">
        <ul id="myUL">
        {% if data2 %}
        {% for row in data2 %}
        <li><a href="#">{{ row.food }} - ${{"%.2f" % row.price }}<div id="del"><div id="calorie"> {{ row.calories }} Cal</div><button type="submit" id="delbtn" name="delfood" formtarget="_parent" class="btn btn-danger btn-sm" value="{{ row.id }}"><strong>X</strong></button></div></a></li>
        {% endfor %}
        {% endif %}
        <li><div class="card-text"><a href="/addfood"><img id="additem" src="../static/img/add.png">Add Item</a></div></li>
        </ul>
        </form>
        </div>
    </div>
</div>
{% endblock %}