{% extends "layouts.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type = "text/css" href="../static/css/expiration.css">
    <script type="text/javascript" src="../static/js/expiration.js"></script>
    <title>Expiration</title>
{% endblock %}
{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<h1>
    <span class="badge badge-secondary">Your Food Inventory</span>
</h1>
<div class="card" id="card1">
    <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Food Item</span></h5>
        <form id="DelItemForm" action="" method="post">
        <ul id="myUL">
            {% for item in foodexp %}
            {% if item.expiry > 2 %}
                <li><a href="#">{{ item.name }} - Expires in {{ item.expiry }} days<div class="editdel"><button id ="editbtn" type="submit" name="editfood" formtarget="_parent" class="btn btn-primary btn-sm" value={{ item.id }} >Edit Food</button><button id="delbtn" type="submit" name="delfood" formtarget="_parent" class="btn btn-danger btn-sm" value="{{ item.id }}"><strong>X</strong></button></div></a></li>
            {% endif %}
            {% endfor %}
            <li><div class="card-text"><a href="/addfood"><img id="additem" src="../static/img/add.png">Add Item</a></div></li>
        </ul>
        </form>
    </div>
</div>

<h1>
    <span class="badge badge-secondary">Expiring Food</span>

</h1>
<div class="card" id="card2">
    <div class="card-body">
    <form id="DelItemForm" action="" method="post">
        <ul id="myUL">
            {% for item in foodexp %}
            {% if -1 < item.expiry <= 2 %}
                <li><a href="#"><div id = "del">{{ item.name }} - Expires in {{ item.expiry }} days<div class="editdel"><button id ="editbtn" type="submit" name="editfood" formtarget="_parent" class="btn btn-primary btn-sm" value="{{ item.id }}" >Edit Food</button><button id="delbtn" type="submit" name="delfood" formtarget="_parent" class="btn btn-danger btn-sm" value="{{ item.id }}"><strong>X</strong></button></div></div></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </form>
    </div>
</div>
{% endblock %}

