{% extends "layouts.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<title>Home</title>
{% endblock %}
{% block body %}
 <header class="header">
      <div class="container" id="hometext">
        <div class="row">
          <div class="col">
            <div class="header-content">
              <h1 class="mb-5" style="color: white">SmartRumble is an app where you can track when your food items will expire or how much you are spending on food!</h1>
              <div class="row">
                <a href="/register" class="btn btn-primary">Start Now for Free!</a>
              </div>
                <div class="row">
              <a href="/login" class="btn btn-outline btn-xl js-scroll-trigger" style="font-size: 14px">Already have an account?</a>
                </div>
            </div>
          </div>
            <div class="col-xs-8">
                <div class="device-container">
                    <div class="screen">
                        <!--SmartRumble app -->
                        <img src="../static/img/mobilephone.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </header>
{% endblock %}