{% extends "layouts.html" %}
{% block head %}
{{super()}}
<title>Profile</title>
<link rel="stylesheet" type="text/css" href="../static/css/profile.css">
<script src="../static/js/editprofile.js"></script>
{% endblock %}
{% block body %}
{% if user %}
    <h1>Profile</h1>
    <h1>
        <a class="btn btn-info" href="/profile/editprofile">Edit Profile</a>
    </h1>
    <div class="container" id="Area1">
        <img src="../static/img/profilepic.png" id="profpic">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="badge badge-secondary">Username</span></h5>
                <div id="username" class="card-text">{{ session.username }}</div>
            </div>
        </div>
    </div>

    <div class="container" id="Area2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="badge badge-secondary">Name</span></h5>
                <div class="card-text">{{ session.name }}</div>
                <hr>
                <h5 class="card-title"><span class="badge badge-secondary">Email</span></h5>
                <div class="card-text">{{ session.email }}</div>

            </div>
        </div>
    </div>

{% else %}
<h1>
    <span class="badge badge-secondary">Profile</span>
    <a class="btn btn-info" href="/profile/editprofile">Edit Profile</a>
</h1>
{% endif %}


{% endblock %}