<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="../static/css/setExpiry.css">
    <title>Title</title>
</head>
<body>
<h1 id = "heading1">Set Expiry Date</h1>
<form id = "todoForm2">
    Item name: <input type = "text" id = "itemName"><br>
    Remarks: <input type = "text" id = "itemRemark"><br>

<h2 id = "heading2">Set date of expiry</h2>

    dd: <input type = "text" id = "expiryDay"><br>
    mm: <input type = "text" id = "expiryMonth"><br>
    yyyy: <input type = "text" id = "expiryYear"><br>
    <button type = "button" id = "button1" oncllick = "">Save Changes</button>
</form>

<script>
    function saveChanges(){
        var date1 = document.getElementById("expiryDay").innerHTML;
        var month1 = document.getElementById("expiryMonth").innerHTML;
        var year1 = document.getElementById("expiryYear").innerHTML;
        var currentYear = new Date();
        currentYear.getFullYear();
        var currentMonth = new Date();
        currentMonth.getMonth();
        var currentDay = new Date();
        currentDay.getDate();
        console.log(currentYear, currentDay, currentMonth);
        if (year1 >= currentYear){
            var yearDifference = year1 - currentYear
            if (month1 >= currentMonth){
                var monthDifference = month1 - currentMonth
                
            }
        }
    }
</script>
</body>
</html>